:root {
  --background-color-start: rgba(162, 123, 204, 1);
  --background-color-end: rgba(108, 82, 153, 1);
  --candle-color: rgba(255, 255, 255, 1);
  --candle-stripe-color: rgba(255, 0, 0, 0.4);
  --flame-color-start: rgba(254, 248, 97, 0.5);
  --flame-color-middle: rgba(255, 50, 0, 0.1);
  --flame-color-end: rgba(254, 248, 97, 0.5);
  --icing-color: rgba(236, 231, 227, 1);
  --sponge-color: rgba(109, 56, 38, 1);
  --sponge-stripe-color: rgba(236, 231, 227, 0.6);
  --h1-color: rgba(108, 82, 153, 1);
  --p-color: rgba(236, 231, 227, 0.6);
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(
    circle,
    var(--background-color-start) 0%,
    var(--background-color-end) 100%
  );
}

.cake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: cake-appear 2s ease-in-out forwards;
}

@keyframes cake-appear {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.cake::after {
  background: var(--icing-color);
  border-radius: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.candles {
  background: var(--candle-color);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candles::after,
.candles::before {
  background: var(--candle-stripe-color);
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
}

.candles::after {
  top: 25%;
}

.candles::before {
  top: 45%;
}

.flame {
  border-radius: 100%;
  box-shadow: 0 0 20px 5px rgba(248, 233, 209, 0.5);
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
  width: 10px;
  height: 20px;
  animation: flicker 2s infinite;
}

.flame:nth-child(2) {
  animation-duration: 1.5s;
}

.flame:nth-child(3) {
  animation-duration: 1s;
}

.flame:nth-child(4) {
  animation-duration: 0.5s;
}

.flame:nth-child(5) {
  animation-duration: 0.2s;
}

@keyframes flicker {
  0%,
  100% {
    background: var(--flame-color-start);
    transform: translateY(0) scale(1);
  }
  50% {
    background: var(--flame-color-middle);
    transform: translateY(-20px) scale(0.8);
  }
}

.icing {
  background: var(--icing-color);
  border-radius: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icing::after,
.icing::before {
  background: var(--icing-color);
  border-radius: 100px;
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
}

.icing::after {
  top: 10px;
  right: 20px;
}

.icing::before {
  top: 15px;
  right: 15px;
}

.sponge {
  background: var(--sponge-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sponge::after,
.sponge::before {
  background: var(--sponge-stripe-color);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}

.sponge::after {
  top: 30%;
}

.sponge::before {
  top: 60%;
}

h1,
p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 100%;
  user-select: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  animation: text-appear 2s ease-in-out forwards;
}

@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  color: var(--p-color);
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 12em;
}

